.searchForm {
  display: flex;
  align-items: center;
}

.inputContainer {
  position: relative;
  display: inline-block;
}

.searchInput {
  padding: 8px 32px; /* Adjust padding to accommodate the icon */
  border: 1px solid #ccc;
  border-radius: 4px;
}

.iconContainer {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 8px; /* Adjust left positioning based on icon size and padding */
}

.searchButton {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 0 4px 4px 0;
  background-color: #f0f0f0;
  cursor: pointer;
}

.searchButton:hover {
  background-color: #e0e0e0;
}
